* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #191919;
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#speaker,
#sound {
  align-self: center;
  width: 200px;
  height: 200px;
  position: relative;
  background: transparent;
}

#speaker::before {
  content: "";
  position: absolute;
  right: 0;
  border-top: 100px solid transparent;
  border-right: 200px solid #5dbcf9;
  border-bottom: 100px solid transparent;
  z-index: 2;
}

#speaker::after {
  --size: 60px;
  content: "";
  position: absolute;
  left: 0;
  height: var(--size);
  width: calc(var(--size) * 1.5);
  background-color: #5dbcf9;
  top: calc(var(--size) + 10px);
  border-radius: 5px;
}

#sound::before {
  content: "";
  position: absolute;
  height: calc(200px - 0px);
  width: calc(200px - 0px);
  left: -85px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 10px #5dbcf9, inset 0px 0px 0px 20px #191919,
    inset 0px 0px 0px 30px #5dbcf9, inset 0px 0px 0px 40px #191919,
    inset 0px 0px 0px 50px #5dbcf9, inset 0px 0px 0px 60px #191919;
}

#sound::after {
  content: "";
  position: absolute;
  height: calc(200px - 0px);
  width: calc(20px - 0px);
  background-color: #191919;
  left: -10px;
}
